#content {
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 80px;
}

.card {
    background-color: var(--clr21);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-cont {
    margin: 16px;
    padding: 16px;
    border-radius: 16px;
    background-color: var(--clr21);
    cursor: pointer;
}

.product-cont img {
    max-width: 80%;
    max-height: 80vh;
    margin: 8px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--clr11);
}

.product-cont p {
    color: var(--clr22);
    font-size: 32px;
    font-weight: 400;
}

.product-cont:hover {
    box-shadow: 0 4px 8px var(--clr01);
}

.product-cont:hover p {
    color: var(--clr02);
}