:root {
    --clr01: #1a1a1a;
    --clr02: #f3f3f3;
    --clr11: #333333;
    --clr12: #e6e6e6;
    --clr21: #4d4d4d;
    --clr22: #d9d9d9;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--clr11);
    color: var(--clr12);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

header {
    background-color: var(--clr01);
    color: var(--clr02);
    position: fixed;
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 1;
}
/* Header button styles */
header button {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo {
    margin-right: 20px;
}

header .nav-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: left;
    flex-grow: 1;
}

header .nav-button {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .nav-button:hover {
    background-color: rgba(0, 0, 0, 0.1); /* subtle background color on hover */
}

.justyfy-center {
    justify-content: center;
}

.flex {
    display: flex;
}
/* Стили для заголовков */
h1, h2, h3, h4, h5, h6 {
    color: #2c3e50;
    margin-bottom: 15px;
}

#content {
    width: 100%;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

/* Стили для абзацев */
p {
    margin: 0 0 15px;
}

/* Стили для ссылок */
a {
    color: #3498db;
    text-decoration: none;
}